body {
    padding-top: 50px;
  }
  .bid-container {
    max-width: 600px;
    margin: auto;
  }
  .bid-form {
    margin-top: 20px;
  }
  .product {
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #FFD9A9;
    background-color: #FFEED4;
    display: flex;
    flex-direction: column;
  }

  .card-body{
    background-color: #FFD9A9;
  }

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}